.container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container input {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1.5px solid var(--mental-green);
    border-radius: 8px;
}

.container input:checked {
    color: var(--mental-green);
}

.container label {
    color: var(--text-black);
    font-size: 1.125rem;
}