
.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 80px;
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   flex: 1;
}

.left .step {
    max-width: 200px;
}

.left .cover {
    display: grid;
    gap: 100px;
}


.left .cover > p {
    font-size: 1.5rem;
    color: var(--text-black);
    font-weight: 500;
}

.right {
    padding: 32px;
    border: 1px solid #B1CCC8;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.right .top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.right .top h1 {
    font-weight: 500;
    color: var(--text-black);
    font-size: 1.5rem;
}


.right .myForm {
    min-width: 600px;
    display: grid;
    gap: 32px;
}