

.container {
    display: flex;
    gap: 150px;
    align-items: stretch;
    justify-content: space-between;
}


.left {
    display: flex;
    align-items: flex-end;
    width: 500px;
}

.left .cover {
    display: grid;
    gap: 100px;
}

.left .cover > p {
    font-size: 1.5rem;
    color: var(--text-black);
    font-weight: 500;
}

.right {
    padding: 32px;
    border: 1px solid #B1CCC8;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.right .top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.right .top h1 {
    font-weight: 500;
    color: var(--text-black);
    font-size: 1.5rem;
}

.right .top .btns {
    display: flex;
    gap: 24px;
}

.right .top > p {
   font-weight: 300;
   font-size: 0.875rem;
   color: var(--text-black); 
}

.right .myForm {
    min-width: 600px;
    display: grid;
    gap: 16px;
}

.right .myForm > p {
    text-align: right;
    font-weight: 300;
    font-size: 0.875rem;
    color: var(--text-black);
}