.container {
    display: grid;
    gap: 8px;
}

.container label {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: var(--text-black);
}

.container .input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1.5px solid #E5E7EA;
    border-radius: 12px;
}

.container .input input {
    font-size: 1rem;
    flex: 1;
    outline: none;

}

.container small {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.875rem;
    color: var(--text-black);
}