.container {}



.container h2 {
    font-size: 2rem;
    font-weight: 500;
}

.bg {
    max-height: 800px;
    display: flex;
    flex-direction: column;
}


.navbar {
    padding: 32px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.navbar .menuBtn {
    display: none;
}

.menu a {
    padding: 12px 24px;
    color: var(--text-black);
    font-weight: 600;
    font-size: 0.875rem;
}

.btns {
    display: flex;
    gap: 8px;
    color: var(--text-white);
}

.signInBtn {
    background-color: transparent;
    color: var(--text-dark-grey);
    font-weight: 600;
}

.hero {
    flex: 1;
    margin-inline: 120px;
    display: grid;
    grid-template-columns: 520px 1fr;
    gap: 24px;
}

.hero .left {
    align-self: center;
    display: flex !important;
    flex-direction: column;
    gap: 32px !important;
}

.hero .left h1 {
    color: var(--text-black);
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.07em;
}

.hero .left h1 span {
    color: var(--green);
}

.hero .left button {
   color: var(--text-white);
}


.about {
    padding: 120px;
    display: grid;
    gap: 24px;

}

.top {
    padding: 64px 120px;
    background-color: var(--green);
    border-radius: 32px;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .left {
    width: 50ch;
}

.top .left h2 {
    margin-bottom: 24px;
}

.top .right {
    min-width: 220px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 24px;
}

.card {
    display: grid;
    gap: 24px;
    background-color: white;
    border-radius: 32px;
    border: 1px solid var(--light-green);
    padding: 56px;
}

.card h2 {
    color: var(--darker-green);
}

.card p {
    color: var(--darker-green);
}

.card:not(:first-child) img { 
    object-fit: contain;
    width: 150px;
}


.offers {
    padding: 135px 120px;
    background-color: var(--green);
    color: var(--text-white);
}

.offers h2 {
    margin-bottom: 48px;
    text-align: center;
}

.offers>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.offer {
    background-color: var(--lighter-green);
    border-radius: 20px;
    padding: 60px 30px;
    display: grid;
    gap: 40px;
}

.image {
    width: fit-content;
    display: flex;
}



.feature {
    display: grid;
    gap: 20px
}

.feature h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

.features {
    display: grid;
    gap: 12px;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
}

.faq {
    padding: 120px;
    background-color: white;
}

.faq h2 {
    margin-bottom: 48px;
    text-align: center;
    color: var(--darker-green);
}

.accordion {
    width: 800px;
    margin: auto;

}

.item {
    padding: 24px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
}

.question p {
    color: var(--darker-green);
    font-size: 1rem;
}

.question button {
    padding: 0;
    background: none;
    color: var(--text);
    font-size: 1rem;
}

.item>p {
    font-size: 0.875rem;
    color: var(--darker-green);
}



.cta {
    margin: 80px 120px;
    padding: 120px;
    background-color: var(--primary);
    border-radius: 32px;
    color: var(--text-white);
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.cta h2 {
    margin-bottom: 8px;
}

.cta p {
    font-size: 1.25rem;
}

.cta button {
    background-color: var(--text-white);
    color: var(--text-dark-grey);
}




.footer {
    padding: 96px 120px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 70px;
    background-color: white;
    background-image: url(../images/bg3.png);
    color: var(--text-dark-grey);
    font-family: "Quicksand", sans-serif;
}

.footer > .left {
    display: grid !important;
    gap: 8px !important;
    height: fit-content;
}

.footer .left .logo {
    width: 200px;
}

.footer .left>p {
    color: #000000;
    font-size: 1.125rem;
}

.smIcons {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-black);
}

.right {
    display: flex;
    justify-content: space-between;
}

.footerCol {
    display: grid;
    gap: 20px;
}

.footerCol h3 {
    color: var(--text-dark-grey);
    font-size: 1.35rem;
    font-weight: 600;

}

.footerCol p {
    font-size: 1rem;
    color: var(--text-dark-grey);
    font-weight: 600;
}


@media (max-width: 760px) {

    .container h2 {
        font-size: 1.5rem;
    }

    .navbar {
        padding: 24px;
    }

    ul.menu, .btns {
        display: none;
    }

    .navbar .menuBtn {
        display: block;
        padding: 8px;
        background: transparent;
        display: grid;
        place-content: center;
    }

    .hero {
        margin: 0;
        padding: 32px 24px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .hero .left {
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .hero .left h1 {
        font-size: 2.5rem;
    }

    .about {
        padding: 80px 24px;
        display: flex;
        flex-direction: column;
    }

    .about .top {
        padding: 32px;
        flex-direction: column;
        gap: 48px;
    }

    .about .top .left {
        width: 100%;
        text-align: center;
    }

    .about .top .left p {
        font-size: 0.875rem;
    }

    .about .top .right {
        min-width: 180px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        padding: 32px;
        text-align: center;
    }

    .card p {
        font-size: 0.875rem;
    }

    .card img {
        width: 50%;
        margin: auto;
        margin-top: 24px;
    }


    .offers {
        padding: 80px 24px;
    }

    .offers > div {
        grid-template-columns: 1fr;
    }

    .offer {
        padding: 32px;
    }

    .image {
        width: 30%;
    }

    .feature h3 {
        font-size: 1rem;
    }

    .row {
        font-size: 0.875rem;
        align-items: start;
    }

    .faq {
        padding: 80px 24px;
    }

    .accordion {
        width: 100%;
    }

    .cta {
        margin: 80px 24px;
        padding: 48px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cta h2 {
        font-size: 2rem;
    }

    .cta p {
        font-size: 1rem;
    }

    .footer {
        padding: 120px 24px;
        grid-template-columns: 1fr;
    }

    .footer .left .logo {
        width: 150px;
    }

    .footer .left>p {
        font-size: 1rem;
    }

    .footer .right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .footerCol {
        gap: 16px;
    }

    .footerCol h3 {
        font-size: 1.125rem;
    }

    .footerCol p {
        font-size: 0.875rem;
    }
}