.container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    padding: 48px 120px;
    gap: 48px;
}

.backBtn {
    background-color: transparent;
    font-weight: 600;
    color: var(--text-black);
    display: flex;
    align-items: center;
    gap: 8px;
}

.content {
    flex: 1;
}
